/* add your CSS here */
* {
    /*border: red 2px solid;*/
}

li {
  list-style-type: none;
}

title {

}

h3 {
  font-size: 300%;
}

body {
  border: grey 2px solid;
  width: 340px;
  padding: 30px;
}

img {
  vertical-align: middle;
}

ul {
  margin: auto;
}

li {
  margin-left: -40px;
}

h3 {
  margin: auto;
}
#main_text {
  border: grey 2px solid;
  width: 290px;
  margin-top: 10px;
  padding: 5px;
}
