/* add your CSS here */
* {
    /*border: red 2px solid;*/
}

body {
  border: grey 2px solid;
  width: 340px;
  padding: 30px;
}

.animal-img {
  vertical-align: middle;
}

.li-fact {
  margin-left: -40px;
  list-style-type: none;
}

.anima-title {
  margin: auto;
  font-size: 300%;
}
.main_text {
  border: grey 2px solid;
  width: 290px;
  margin-top: 10px;
  padding: 5px;
  font-style: italic;
}

.sub-title {
  font-weight: bolder;
}

.sub-info {
  font-style: italic;
}
